#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.board-container[data-v-4012a34e] {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 100vw;
  min-width: 800px;
  min-height: 600px;
  display: flex;
}
.board-container .matting-board[data-v-4012a34e],
.board-container .result-board[data-v-4012a34e] {
  flex: 1 50%;
  border: 1px solid black;
}
